# fly.toml app configuration file generated for teslabtc-api-broken-grass-5163 on 2025-11-10T12:10:25-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'teslabtc-api'
primary_region = 'cdg'
kill_signal = 'SIGINT'
kill_timeout = '10s'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'

[[mounts]]
  source = 'teslabtc_data'
  destination = '/app/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '1m0s'

[checks]
  [checks.healthcheck]
    port = 8080
    type = 'http'
    interval = '20s'
    timeout = '10s'
    grace_period = '1m0s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
